-- ============================================================================
-- ENABLE ROW LEVEL SECURITY ON ALL TABLES
-- ============================================================================
ALTER TABLE restaurant_tables      ENABLE ROW LEVEL SECURITY;
ALTER TABLE menu_items             ENABLE ROW LEVEL SECURITY;
ALTER TABLE orders                 ENABLE ROW LEVEL SECURITY;
ALTER TABLE order_items            ENABLE ROW LEVEL SECURITY;
ALTER TABLE staff_profiles         ENABLE ROW LEVEL SECURITY;
ALTER TABLE split_bill_participants ENABLE ROW LEVEL SECURITY;

-- ============================================================================
-- RESTAURANT TABLES — Policies
-- Public read, admin-only write.
-- ============================================================================
-- Anyone (anon + authenticated) can view tables.
DROP POLICY IF EXISTS "tables_select_public" ON restaurant_tables;
CREATE POLICY "tables_select_public" ON restaurant_tables
  FOR SELECT
  TO anon, authenticated
  USING (true);
-- Only admins can create tables.
DROP POLICY IF EXISTS "tables_admin_insert" ON restaurant_tables;
CREATE POLICY "tables_admin_insert" ON restaurant_tables
  FOR INSERT
  TO authenticated
  WITH CHECK (get_my_role() = 'admin');
-- Only admins can update tables.
DROP POLICY IF EXISTS "tables_admin_update" ON restaurant_tables;
CREATE POLICY "tables_admin_update" ON restaurant_tables
  FOR UPDATE
  TO authenticated
  USING  (get_my_role() = 'admin')
  WITH CHECK (get_my_role() = 'admin');
-- Only admins can delete tables.
DROP POLICY IF EXISTS "tables_admin_delete" ON restaurant_tables;
CREATE POLICY "tables_admin_delete" ON restaurant_tables
  FOR DELETE
  TO authenticated
  USING (get_my_role() = 'admin');

-- ============================================================================
-- MENU ITEMS — Policies
-- Anon sees available items only; staff sees all; admin manages.
-- ============================================================================
-- Anonymous customers see only available menu items.
DROP POLICY IF EXISTS "menu_select_public" ON menu_items;
CREATE POLICY "menu_select_public" ON menu_items
  FOR SELECT
  TO anon
  USING (is_available = true);
-- Authenticated staff can see every item (including unavailable ones).
DROP POLICY IF EXISTS "menu_select_staff" ON menu_items;
CREATE POLICY "menu_select_staff" ON menu_items
  FOR SELECT
  TO authenticated
  USING (true);
-- Only admins can add menu items.
DROP POLICY IF EXISTS "menu_admin_insert" ON menu_items;
CREATE POLICY "menu_admin_insert" ON menu_items
  FOR INSERT
  TO authenticated
  WITH CHECK (get_my_role() = 'admin');
-- Only admins can edit menu items.
DROP POLICY IF EXISTS "menu_admin_update" ON menu_items;
CREATE POLICY "menu_admin_update" ON menu_items
  FOR UPDATE
  TO authenticated
  USING  (get_my_role() = 'admin')
  WITH CHECK (get_my_role() = 'admin');
-- Only admins can remove menu items.
DROP POLICY IF EXISTS "menu_admin_delete" ON menu_items;
CREATE POLICY "menu_admin_delete" ON menu_items
  FOR DELETE
  TO authenticated
  USING (get_my_role() = 'admin');

-- ============================================================================
-- ORDERS — Policies
-- Anon can place AND read orders; staff can view; role-specific update rules.
--
-- FIX: Tambah SELECT policy untuk anon agar pelanggan bisa membaca status
--      pesanan mereka sendiri (diperlukan untuk realtime tracking dan agar
--      .select().single() setelah insert berhasil di semua browser).
-- ============================================================================
-- Customers (anon) can create orders without logging in.
DROP POLICY IF EXISTS "orders_anon_insert" ON orders;
CREATE POLICY "orders_anon_insert" ON orders
  FOR INSERT
  TO anon
  WITH CHECK (true);
-- Customers (anon) can read orders (for status tracking after placing order).
DROP POLICY IF EXISTS "orders_anon_select" ON orders;
CREATE POLICY "orders_anon_select" ON orders
  FOR SELECT
  TO anon
  USING (true);
-- All authenticated staff can view orders.
DROP POLICY IF EXISTS "orders_staff_select" ON orders;
CREATE POLICY "orders_staff_select" ON orders
  FOR SELECT
  TO authenticated
  USING (true);
-- Kitchen staff (dapur) can only advance "menunggu_dimasak" → "siap_diantar".
DROP POLICY IF EXISTS "orders_kitchen_update" ON orders;
CREATE POLICY "orders_kitchen_update" ON orders
  FOR UPDATE
  TO authenticated
  USING  (order_status = 'menunggu_dimasak' AND get_my_role() = 'dapur')
  WITH CHECK (order_status = 'siap_diantar' AND get_my_role() = 'dapur');
-- Waiters can only advance "siap_diantar" → "selesai".
DROP POLICY IF EXISTS "orders_waiter_update" ON orders;
CREATE POLICY "orders_waiter_update" ON orders
  FOR UPDATE
  TO authenticated
  USING  (order_status = 'siap_diantar' AND get_my_role() = 'waiter')
  WITH CHECK (order_status = 'selesai' AND get_my_role() = 'waiter');
-- Admins can update any order (status, payment, notes, etc.).
DROP POLICY IF EXISTS "orders_admin_update" ON orders;
CREATE POLICY "orders_admin_update" ON orders
  FOR UPDATE
  TO authenticated
  USING  (get_my_role() = 'admin')
  WITH CHECK (get_my_role() = 'admin');

-- ============================================================================
-- ORDER ITEMS — Policies
-- Anon can insert AND read (part of placing and tracking an order); staff view.
--
-- FIX: Tambah SELECT policy untuk anon agar pelanggan bisa membaca detail
--      item pesanan mereka setelah melakukan pemesanan.
-- ============================================================================
-- Customers (anon) can insert order items alongside their order.
DROP POLICY IF EXISTS "order_items_anon_insert" ON order_items;
CREATE POLICY "order_items_anon_insert" ON order_items
  FOR INSERT
  TO anon
  WITH CHECK (true);
-- Customers (anon) can read order items (for order detail / tracking).
DROP POLICY IF EXISTS "order_items_anon_select" ON order_items;
CREATE POLICY "order_items_anon_select" ON order_items
  FOR SELECT
  TO anon
  USING (true);
-- All authenticated staff can view order items.
DROP POLICY IF EXISTS "order_items_staff_select" ON order_items;
CREATE POLICY "order_items_staff_select" ON order_items
  FOR SELECT
  TO authenticated
  USING (true);

-- ============================================================================
-- STAFF PROFILES — Policies
-- Staff sees own profile; admins manage all.
-- ============================================================================
-- Each staff member can read their own profile.
DROP POLICY IF EXISTS "staff_select_own" ON staff_profiles;
CREATE POLICY "staff_select_own" ON staff_profiles
  FOR SELECT
  TO authenticated
  USING (id = auth.uid());
-- Admins can view all staff profiles.
DROP POLICY IF EXISTS "staff_admin_select_all" ON staff_profiles;
CREATE POLICY "staff_admin_select_all" ON staff_profiles
  FOR SELECT
  TO authenticated
  USING (get_my_role() = 'admin');
-- Admins can create staff profiles.
DROP POLICY IF EXISTS "staff_admin_insert" ON staff_profiles;
CREATE POLICY "staff_admin_insert" ON staff_profiles
  FOR INSERT
  TO authenticated
  WITH CHECK (get_my_role() = 'admin');
-- Admins can edit staff profiles.
DROP POLICY IF EXISTS "staff_admin_update" ON staff_profiles;
CREATE POLICY "staff_admin_update" ON staff_profiles
  FOR UPDATE
  TO authenticated
  USING  (get_my_role() = 'admin')
  WITH CHECK (get_my_role() = 'admin');
-- Admins can delete staff profiles.
DROP POLICY IF EXISTS "staff_admin_delete" ON staff_profiles;
CREATE POLICY "staff_admin_delete" ON staff_profiles
  FOR DELETE
  TO authenticated
  USING (get_my_role() = 'admin');

-- ============================================================================
-- SPLIT BILL PARTICIPANTS — Policies
-- Anon can insert; staff can view; admin can update.
-- ============================================================================
-- Customers (anon) can create split bill entries.
DROP POLICY IF EXISTS "split_bill_anon_insert" ON split_bill_participants;
CREATE POLICY "split_bill_anon_insert" ON split_bill_participants
  FOR INSERT
  TO anon
  WITH CHECK (true);
-- All authenticated staff can view split bill data.
DROP POLICY IF EXISTS "split_bill_staff_select" ON split_bill_participants;
CREATE POLICY "split_bill_staff_select" ON split_bill_participants
  FOR SELECT
  TO authenticated
  USING (true);
-- Admins can update any split bill participant (status changes).
DROP POLICY IF EXISTS "split_bill_admin_update" ON split_bill_participants;
CREATE POLICY "split_bill_admin_update" ON split_bill_participants
  FOR UPDATE
  TO authenticated
  USING  (get_my_role() = 'admin')
  WITH CHECK (get_my_role() = 'admin');
